.my-profile-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 30px;
  padding-top: 30px;
  position: relative;
  overflow-y: hidden;
  margin-top: 90px;
}
.account-page {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
  height: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: flex-start;
}

.column1 {
  position: relative;
  width: 46%;
  height: fit-content;
  justify-content: center;
}

.column2 {
  position: relative;
  width: 42%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-icon {
  color: var(--red-color);
  size: 15px;
}
.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--grey-color);
  color: var(--white-color);
  border-radius: 50px;
  padding: 25px;
  width: 90%;
  height: 90%;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}
.profile-header {
  display: flex;
  padding: 10px 20px;
  position: absolute;
  font-weight: bold;
  font-size: 25px;
  top: -20px;
  left: 0;
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-radius: 50px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.profile-image {
  display: flex;
  border-radius: 100%;
  object-fit: cover;
  width: 64%;
  height: 64%;
  position: relative;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}
.profile-image-edit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  width: 25px;
  height: 25px;
  font-size: 20px;
  top: 65%;
  left: 70%;
  background-color: var(--grey-color);
  color: var(--red-color);
  border-radius: 50px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.profile-image-edit-container:hover {
  opacity: 0.7;
  scale: 0.97;
}
.profile-username {
  display: flex;
  padding: 10px 20px;
  position: relative;
  font-weight: 600;
  font-size: x-large;
  background-color: var(--grey-color);
  box-shadow: 2px 2px 0px 1px var(--red-color);
  color: var(--dark-color);
  border-radius: 20px;
  width: 25vw;
  height: 3vh;
  align-items: center;
  justify-content: flex-start;
  outline: none;
  border: none;
}
.mentor-icon {
  display:flex;
  position: absolute;
  top: -5px;
  size:30px;
  font-size: 25px;
  left: 0;
  color:var(--red-color);
}
.edit-profile-name-btn {
  display: flex;
  position: absolute;
  color: var(--red-color);
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 90%;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.edit-profile-name-btn:hover {
  opacity: 0.7;
  scale: 0.97;
}
.edit-profile {
  display: flex;
  padding: 10px 20px;
  position: relative;
  font-weight: 600;
  font-size: x-large;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 20px;
  width: 25vw;
  height: 3vh;
  align-items: center;
  justify-content: flex-start;
  resize: none;
  border: none;
  outline: none;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
}
.profile-name-field {
  position: relative;
  height: fit-content;
  width: fit-content;
  margin-top: 40px;
}
.profile-confirm-btn {
  display: flex;
  position: absolute;
  color: var(--teal-color);
  font-size: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: 90%;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.profile-confirm-btn:hover {
  opacity: 0.7;
  scale: 0.97;
}

.languages-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--grey-color);
  color: var(--white-color);
  border-radius: 50px;
  padding: 25px;
  width: 42vw;
  height: 30vh;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}

.languages-header {
  display: flex;
  padding: 10px 20px;
  position: absolute;
  font-weight: 600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-radius: 50px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}
.experience-info {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 50px;
  position: relative;
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-radius: 50px;
  padding: 25px;
  width: 42vw;
  height: 14vh;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}
.experience-edit-content {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
  position: relative;
  color: var(--dark-color);
  border-radius: 50px;
  padding: 25px;
  width: 43vw;
  height: 14vh;
}
.experience-level-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin:10px;
}
.experience-level {
  margin:5px;
  font-size: 25px;
}
.experience-save-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom:0;
  left:35%;
  outline: none;
  border: none;
  width: 30%;
  margin-top: 5px;
  color: #0c0f0a;
  background-color: var(--teal-color);
  border-radius: 20px;
  font-size: 22px;
  font-weight: bold;
  height: 30px;
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.edit-icon-experience {
  color: var(--red-color);
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.edit-icon-experience:hover {
  opacity: 0.7;
  scale: 0.97;
}

.experience-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  font-weight: 600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-radius: 50px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}

.bio-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-color: var(--grey-color);
  color: var(--white-color);
  border-radius: 50px;
  width: 99%;
  height: 150px;
  box-sizing: border-box;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}

.bio-container {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.bio-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: absolute;
  font-weight: 600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-radius: 50px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}
.bio-content {
  margin: 40px;
}
.bio-textarea {
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  width: 98%;
  height: 90%;
  padding: 10px;
  border: 0;
  background-color: var(--grey-color);
  color: var(--dark-color);
  resize: none;
}
.bio-textarea-edit {
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  width: 98%;
  height: 90%;
  background-color: var(--grey-color);
  color: var(--dark-color);
  resize: none;
  border: none;
  outline: none;
  padding: 10px;
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
  border-radius: 20px;
}
.save-button {
  display: flex;
  position: absolute;
  bottom: 2vh;
  left: 3vw;
}
.edit-icon-bio {
  color: var(--red-color);
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.edit-icon-bio:hover {
  opacity: 0.7;
  scale: 0.97;
}

.bio-cancel {
  color: var(--teal-color);
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.bio-cancel:hover {
  scale: 0.97;
  opacity: 0.7;
}

.bio-confirm {
  color: var(--teal-color);
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.language-label {
  margin: 2px;
  padding: 10px;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-label.selected {
  background-color: var(--teal-color);
  color: #fff;
}

.languages-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}
