.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
  line-height: 1.5;
}

h2 {
  font-size: 18px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 60px;
}

.login-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0c0f0a;
  border-radius: 50px;
  margin: 20px auto;
  width: 420px;
  padding: 0;
}

.login-header {
  background-color: #fff;
  width: 25%;
  font-size: 15px;
  padding: 5px;
  border-radius: 50px;
  margin-bottom: 10px;
  box-shadow: 2px 2px var(--red-color);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 50px;
  margin-bottom: 20px;
}

input:last-child {
  margin-top: 0px;
  margin-bottom: 30px;
}

.login-button {
  width: 100%;
  background-color: var(--teal-color);
  color: #0c0f0a;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: 10px 0;
  margin-bottom: 40px;
  cursor: pointer;
}