[data-theme="dark"] {
  --dark-color: #ffffff;
  --red-color: #ff206e;
  --yellow-color: #fbff12;
  --teal-color: #41ead4;
  --white-color: #0c0f0a;
  --bg-color:#000;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9" !important;
}

.main-container {
  margin-left: 200px;
  display: flex;
  width: 100%;
  height: 90%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  padding-bottom: 0px;
  position: relative;
  overflow: hidden;
  background-color: var(--bg-color);
}

[data-theme="light"] {
  --white-color: #fff;
  --red-color: #ff206e;
  --yellow-color: #fbff12;
  --teal-color: #41ead4;
  --dark-color: #0c0f0a;
  --bg-color:#fff;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff4c;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100dvw;
  height: 100dvh;
}
