:root {
  --dark-color: #0c0f0a;
  --red-color: #ff206e;
  --yellow-color: #fbff12;
  --teal-color: #41ead4;
  --white-color: #ffffff;
}
body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

[data-theme="dark"] {
  --dark-color: #555;
  --red-color: #ff206e;
  --yellow-color: #fbff12;
  --teal-color: #41ead4;
  --white-color: #0c0f0a;
}
