.register-modal {
  width: 750px;
  height: 630px;
  border-radius: 50px;
  background-color: var(--dark-color);
  color: var(--white-color);
}

.register-modal__title {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: light;
  color: var(--red-color);
}

.register-modal__dropdown {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
}

.register-modal-select {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
  appearance: none;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  background-image: none;
  background-color: var(--white-color);
  color: var(--dark-color);
}

.register-modal-select option:first-child {
  display: none;
}

.selected-language {
  background-color: var(--teal-color);
}

.language-label {
  margin: 2px;
  padding: 10px;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.language-label.selected {
  background-color: var(--teal-color);
  color: var(--white-color);
}

.hidden-checkbox {
  display: none;
}

.languages-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.register-modal__button {
  font-size: 20px;
  width: 55%;
  background-color: var(--teal-color);
  color: var(--white-color);
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

a {
  margin: 15px;
  margin-bottom: 25px;
  text-decoration: none;
  color: var(--white-color);
  cursor: pointer;
}