/* General */
.create-project-main-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  padding-top: 30px;
  position: relative;
  overflow-y: hidden;
  margin-top: 90px;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  user-select: none;
}
.create-project {
  display: flex;
  width: 100%;
  height: 90%;
  max-height: 90%;
  justify-content: center;
  align-items: center;
}

.create-project-left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35%;
  height: 100%;
}

.project-title-engineers {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.create-project-title,
.create-project-engineers {
  display: flex;
  background-color: var(--grey-color);
  width: fit-content;
  min-width: 150px;
  height: 70px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  margin-right: 50px;
}

.create-project-text {
  position: absolute;
  top: -35px;
  left: -10px;
  font-size: 20px;
  background-color: var(--grey-color);
  color: var(--dark-color);
  padding: 10px 20px;
  width: fit-content;
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
  font-weight: bold;
}

.project-title-input {
  border: none;
  outline: none;
  width: 200px;
  height: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
}

.select-engineers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  border: none;
  outline: none;
  border-radius: 12px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
}

.create-project-description {
  display: flex;
  background-color: var(--grey-color);
  width: 475px;
  height: 255px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  margin-top: 50px;
}

.create-project-description-text {
  width: 100%;
  height: 225px;
  border: none;
  resize: none;
  border-radius: 10px;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9" !important;
  padding: 10px 20px;
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
  box-sizing: border-box;
}

.select-dates-start-end {
  display: flex;
  width: 480px;
  justify-content: space-between;
}

.create-project-start-date,
.create-project-end-date {
  display: flex;
  background-color: var(--grey-color);
  width: fit-content;
  min-width: 200px;
  height: 70px;
  padding: 10px 10px;
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  margin-top: 50px;
}

.create-project-start-date-input,
.create-project-end-date-input {
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: var(--grey-color);
  color: var(--dark-color) !important;
  font-size: 18px;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9" !important;
  cursor: pointer;
}

.create-project-right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  height: 100%;
}

.create-project-languages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 305px;
  margin-bottom: 40px;
  margin-top: 50px;
  background-color: var(--grey-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  position: relative;
  box-sizing: border-box;
}

.create-project-search-bar {
  width: 100%;
  height: 40px;
  margin-top: 30px;
  padding: 10px 30px;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  outline: none;
  position: relative;
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
}

.languageSearchResults {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
  top: 50px;
  left: 80%;
}

.create-project-single-language {
  cursor: pointer;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.create-project-single-language:hover {
  opacity: 0.8;
  scale: 0.97;
}

.create-project-languages-icons {
  padding: 0px;
}

.create-project-language-icon {
  margin-right: 10px;
}

.create-project-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  margin-top: 50px;
  border: none;
  outline: none;
  border-radius: 20px;
  text-align: center;
  background-color: var(--teal-color);
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.create-project-submit:hover {
  opacity: 0.8;
  scale: 0.97;
}

.create-a-project-header {
  font-size: 50px;
  margin: 0px;
  background-color: var(--grey-color);
  border-radius: 20px;
  padding: 10px 130px;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
  margin-top: 30px;
}

.create-project-repo-link {
  display: flex;
  background-color: var(--grey-color);
  width: 280px;
  height: 70px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}

.project-repo-input {
  border: none;
  outline: none;
  width: 200px;
  height: 20px;
  padding: 10px 20px;
  border-radius: 12px;
  background-color: var(--white-color);
  box-shadow: inset 2px 2px 0px 1px var(--dark-color);
  color: var(--dark-color);
}
