.project-deliverables-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.project-details-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
  position: relative;
  cursor: default;
  width: 95%;
  background-color: var(--dark-color);
  height: 180px;
  border-radius: 60px;
  margin-top: 10px;
}

.project-details-title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width: fit-content;
  min-width: 230px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 20px;
  z-index: 5;
  background-color: var(--white-color);
  border-radius: 20px;
  box-shadow: 2px 2px 1px 1px var(--red-color);
  top: -10px;
}

.project-details-title h2 {
  margin: 0px;
  width: auto;
  flex-wrap: nowrap;
  white-space: nowrap; /* Prevent title from wrapping */
  margin-right: 10px;
  margin-left: 10px;
}

.project-details-title p {
  margin: 0px;
  font-size: 14px;
  flex-wrap: nowrap;
  white-space: nowrap; /* Prevent title from wrapping */
}

.languages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  position: absolute;
  left: 290px;
  top: -5px;
}

.language-icon {
  scale: 0.4;
  width: 30px;
}

.project-details-description {
  color: var(--white-color);
  font-size: 13px;
  width: 92%;
  margin-top: 45px;
  margin-left: 40px;
}

.project-details-team {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
  color: var(--white-color);
  margin-bottom: 20px;
}

.team-member {
  margin-right: 5px;
}

.message-board-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 10px;
  cursor: default;
  height: 90% !important;
  width: 18%;
  background-color: var(--dark-color);
  height: 180px;
  border-radius: 70px;
  margin-top: 10px;
  position: relative;
  padding: 10px;
}

.message-board-title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width: 150px;
  padding: 10px;
  z-index: 5;
  background-color: var(--white-color);
  border-radius: 40px;
  box-shadow: 2px 2px 1px 1px var(--red-color);
  top: -10px;
}

.message-board-title h2 {
  margin: 0px;
}

.message-board-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 10px;
  overflow-y: scroll;
}

.message-board-messages::-webkit-scrollbar {
  display: none;
}
.message-bubble {
  background-color: var(--white-color);
  padding: 10px;
  border-radius: 20px;
  position: relative;
  width: 90.5%;
  margin-top: 35px;
}

.message-user {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  width: fit-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 6;
  background-color: var(--white-color);
  border-radius: 40px;
  top: -25px;
  left: 0;
  flex-wrap: nowrap;
  white-space: nowrap; /* Prevent title from wrapping */
}

.user-1 {
  box-shadow: 2px 2px 1px 1px var(--red-color);
}
.user-2 {
  box-shadow: 2px 2px 1px 1px var(--yellow-color);
}
.user-3 {
  box-shadow: 2px 2px 1px 1px var(--teal-color);
}
.user-4 {
  box-shadow: 2px 2px 1px 1px var(--dark-color);
}
.user-5 {
  box-shadow: 2px 2px 1px 1px var(--white-color);
}

.message-text {
  font-size: 14px;
}

.message-input-field {
  position: relative;
  display: flex;
  width: 90%;
  margin-bottom: 20px;
  margin-left: 12px;
}

.send-message-input {
  border: none;
  outline: none;
  width: 100%;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  padding: 10px;
  resize: none;
  border-radius: 15px 15px 35px 35px;
}

.send-message-input::-webkit-scrollbar {
  display: none;
}

.message-send-btn {
  position: absolute;
  border: none;
  outline: none;
  width: 28px;
  height: 28px;
  background-color: var(--teal-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  box-shadow: 1px 1px 1px 1px var(--dark-color);
  left: 88%;
  top: 25px;
}

.loader {
  font-size: 2.5px;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}
@keyframes mulShdSpin {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff,
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
      1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
      -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
      1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
      2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
      1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
      0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
      -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
      -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
