.main-container {
  margin-bottom:30px;
  display: flex;
  flex-direction: row;
}

.column1 {
  position: relative;
  width:43vw;
}
.column2{
  position: relative;
  width:75vw;
  padding-left: 2vw;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px;
  padding: 25px;
  width: 71vh;
  height: 66vh;
}
.profile-header {
  display: flex;
  padding: 10px;
  position: absolute;
  font-weight:600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}

.languages-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px;
  padding: 25px;
  width: 49vw;
  height: 40vh;
}

.languages-header {
  display: flex;
  padding: 10px;
  position: absolute;
  font-weight:600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}
.experience-info {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px;
  padding: 25px;
  width: 49vw;
  height: 18vh;
}

.experience-header {
  display: flex;
  padding: 10px;
  position: absolute;
  font-weight:600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}

.bio-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background-color: var(--dark-color);
  color: var(--white-color);
  border-radius: 50px;
  margin-right: 23vw;
  width: 96vw;
  height: 20vh;
}

.bio-container {
  display:flex;
  justify-content: center;
}

.bio-header {
  display: flex;
  padding: 10px;
  position: absolute;
  font-weight:600;
  font-size: x-large;
  top: -20px;
  left: 0;
  background-color: var(--white-color);
  color: var(--dark-color);
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}
