/* General */

.create-project {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vw;
  width: 95vw;
  margin-left: 5vw;
  margin-top: 15vh;
  cursor: default;
  color: var(--white-color);
}

.create-project > div {
  background-color: var(--dark-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.25vh;
  background-color: var(--dark-color);
  border-radius: 20px;
  padding-left: -3vw;
  padding-right: 3vw;
  padding-top: -3vh;
  padding-bottom: 2vh;
}

.create-project p {
  background-color: var(--white-color);
  color: var(--dark-color);
  width: fit-content;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  border-radius: 5px;
  margin-top: -1.25vh;
  margin-left: -1vw;
  margin-bottom: 1vh;
  box-shadow: 2px 2px 0px 1px var(--red-color);
}

.create-project input,
.create-project select {
  margin-left: 2vw;
  padding: 1em;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  background-color: var(--white-color);
  color: var(--dark-color);
}

/* Title */
.create-project-title input {
  width: 15vw;
  margin-left: 2vw;
  margin-right: 0vw;
}

/* Engineers */
.create-project-engineers select {
  width: 5vw;
}

/* Start Date */

/* End Date */

/* Description */
.create-project-description {
  width: 32.5vw;
  height: 40vh;
}

.create-project-description p {
  margin-top: -2.75vh;
}

.create-project-description textarea {
  position: relative;
  height: 33vh;
  width: 31vw;
  margin-top: 1vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
  border-radius: 5px;
  font-family: "__Inter_e66fe9", "__Inter_Fallback_e66fe9";
  background-color: var(--white-color);
  color: var(--dark-color);
}

/* Languages */
.create-project-languages {
  margin-top: 0vh;
  margin-right: 2vw;
  width: 26vw;
  height: 40vh;
}

.create-project-languages p {
  margin-top: -16.75vh;
}

.create-project-languages input {
  margin-top: 1vh;
}

.create-project-languages .languageSearchResults {
  height: 15vh;
  margin-top: -0vh;
  margin-left: 2vw;
  padding-top: 0.33vh;
  padding-bottom: 0.33vh;
  padding-left: 0.33vw;
  padding-right: 15.33vw;
  border-radius: 5px;
}

.create-project-languages li {
  list-style-type: none;
  cursor: pointer;
  padding: 0;
  border-radius: 5px;
  color: var(--white-color);
}

.create-project-languages li:hover {
  background-color: var(--white-color);
  color: var(--dark-color);
}

.create-project-languages-icons {
  border: 1px solid var(--white-color);
  border-radius: 5px;
  margin-bottom: -12vh;
  margin-left: 2vw;
  padding-left: 0;
  height: 10vh;
}

/* Submit */
.create-project-submit {
  background-color: var(--white-color);
  margin-left: 34.5vw;
}

.create-project-submit button {
  margin-top: 0.75vh;
  margin-bottom: -1vh;
  margin-left: 1vw;
  margin-right: -1.75vw;
  padding: 1vw 2vh;
  font-size: 16px;
  background-color: var(--teal-color);
  color: var(--white-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.create-project-submit button:hover {
  transform: scale(0.97);
  opacity: 0.7;
}