.current-project-details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  cursor: default;
  width: 95%;
  background-color: var(--grey-color);
  color: var(--dark-color);
  height: 155px;
  border-radius: 60px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}

/* .current-project-details-info:hover {
  opacity: 0.7;
  scale: 0.97;
} */

.no-current-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: default;
  width: 95%;
  background-color: var(--grey-color);
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
  height: 155px;
  border-radius: 60px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
}

.project-details-title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  font-weight: bold;
  color: var(--dark-color);
  width: fit-content;
  min-width: 230px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 20px;
  z-index: 5;
  background-color: var(--grey-color);
  border-radius: 20px;
  box-shadow: 2px 2px 0px 1px var(--red-color);
  top: -10px;
}

.project-details-current-project {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.project-details-title h2 {
  margin: 0px;
  width: auto;
  flex-wrap: nowrap;
  white-space: nowrap; /* Prevent title from wrapping */
  margin-right: 10px;
  margin-left: 10px;
  user-select: none;
}

.project-details-title p {
  margin: 0px;
  font-size: 14px;
  flex-wrap: nowrap;
  user-select: none;
  white-space: nowrap; /* Prevent title from wrapping */
}

.languages-current {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  user-select: none;
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 40px;
}

.language-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.project-details-description {
  color: var(--dark-color);
  font-size: 13px;
  width: 92%;
  margin-left: 40px;
}

.project-details-team {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  margin-left: 40px;
  margin-top: 10px;
  color: var(--dark-color);
  margin-bottom: 20px;
}

.project-details-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.project-details-page-btn {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  background-color: var(--teal-color);
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  padding: 5px 10px;
  min-width: 150px;
  margin-right: 45px;
  margin-bottom: 20px;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
  border: none;
}

.project-details-header-repo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--red-color);
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: #fff;
  box-shadow: 2px 2px 0px 1px var(--dark-color);
  padding: 5px 10px;
  min-width: 150px;
  height: 30px;
  margin-right: 45px;
  margin-bottom: 20px;
  transition: scale 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.project-details-header-repo-btn:hover,
.project-details-page-btn:hover {
  scale: 0.97;
  opacity: 0.7;
}

.team-member {
  margin-right: 5px;
}
